* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
}
.App {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
  text-align: center;
  text-align: center;
}

.banner {
  .card-section {
    padding: 25px;
  }
  .container {
    .is-horizontal-center {
      justify-content: center;
    }
    figure {
      margin-top: 20px;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3ac4a7 !important;
  padding: 0 !important ;
  .content {
    padding: 0;
    p {
      margin: 50px 0;
    }
  }
  p {
    font-size: 1.5rem;
  }
  strong {
    color: white;
  }
}

.navbar {
  padding: 5px;
}
.navbar-brand {
  p {
    font-weight: 600;
    color: #5cb85c;
    font-size: 25px;
    margin: 10px 10px;
  }
}
.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.quiz-showcase {
  padding-bottom: 1rem;
}
.quiz-option {
  border: 1px solid #3ac4a7;
  padding: 0.8rem 0;
  border-radius: 8px;
}
.quiz-option:hover {
  background-color: #3ac4a7;
  color: beige;
}
