* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

footer {
  background-color: #3ac4a7 !important;
  padding: 18px !important ;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  .content {
    padding: 0;
  }
  p {
    font-size: 1.3rem;
  }
  strong {
    color: white;
  }
}

.navbar {
  padding: 5px;
}
.navbar-brand {
  // p {
  //   font-weight: 600;
  //   color: #5cb85c;
  //   font-size: 25px;
  //   margin: 10px 10px;
  // }
  a {
    padding: 0;
  }
}
.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.quiz-showcase {
  padding-bottom: 1rem;
}
.quiz-option {
  border: 1px solid #3ac4a7;
  padding: 0.8rem 0;
  border-radius: 8px;
}
.quiz-option:hover {
  background-color: #3ac4a7;
  color: beige;
}
